body{
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.frame{
    box-shadow: 2px 2px 5px gray;
}

#shadow-box{
    padding: 10px 30px;
    background-color: #515151;
}

.toolbar{
    height: 100px;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.pages, .tools{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools{
    gap: 1.5em;
}

.pages{

}

.nb_page{
    margin-left: 10px;
    color: white;
    font-size: 1em;
}

.icon{
    width: 22px;
    height: 22px;
    padding: 8px;
}

.icon:hover, .active-icon{
    background-color: rgba(240, 248, 255, 0.495);
    border-radius: 10px;
}

.arrow-left{
    transform: rotate(180deg);
}

input#no_page{
    background: gray;
    outline: none;
    height: 25px;
    width: 18px;
    font: 1em times;
    color: white;
    text-align: center;
}

#content-box{
    position: relative;
    box-shadow: 10px 4px 7px #3f3f3f;
}
