<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/extraction.css')}}">
    <title>Document extractor</title>
</head>

<body>
    <h1>Draw rectangles on document</h1>
    <div class="container">
        <div class="frame">
            <div class="toolbar">
                <nav class="pages">
                    <img src="{{url_for('static', filename='img/chevron-right-solid.svg')}}" class="icon arrow-left prev" alt="arrow">
                    <input type="text" id="no_page" value="1">
                    <div class="nb_page"> / {{max_page}}</div>
                    <img src="{{url_for('static', filename='img/chevron-right-solid.svg')}}" class="icon next" alt="arrow">
                </nav>
                <div class="tools">
                    <img src="{{url_for('static', filename='img/pen-nib-solid.svg')}}" class="icon pen" alt="pencil">
                    <img src="{{url_for('static', filename='img/floppy-disk-solid.svg')}}" class="icon" alt="save">
                    <img src="{{url_for('static', filename='img/download-solid.svg')}}" class="icon" alt="download">
                </div>
            </div>
            <div id="shadow-box">
                <div id="content-box">
                    <img src="{{url_for('get_media', template_id=template_id)}}" class="pdf" alt="pdf">
                </div>
            </div>
        </div>

    </div>
    <script>
        let pdf = document.querySelector('img.pdf');
        let maxPage = {{max_page}};
        let currPage = {{page}};
        let template_id = "{{template_id}}";
        let leftArrow = document.querySelector('.icon.prev');
        let rightArrow = document.querySelector('.icon.next');
        let noPageInput = document.querySelector('#no_page');
        
        rightArrow.onclick = () => {
            if (maxPage > currPage + 1){
                currPage++;
                pdf.src = `/media/${template_id}/${currPage}`;
                noPageInput.value = currPage+1;
            }
        }

        leftArrow.onclick = () => {
            if (currPage - 1 >= 0){
                currPage--;
                pdf.src = `/media/${template_id}/${currPage}`;
                noPageInput.value = currPage+1;
            }
        }

        noPageInput.onkeydown = (e) => {
            if (e.key !== 'Enter')
                return;
            let newpage = parseInt(noPageInput.value)
            if (currPage != newpage &&  newpage > 0 && newpage <= maxPage){
                currPage = newpage - 1;
                pdf.src = `/media/${template_id}/${currPage}`;
            }
        }
    </script>
    <script src="{{url_for('static', filename='js/draw.js')}}"></script>
</body>

</html>